@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a,
.green {
  text-decoration: none;
  color: #7966E5;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@media (max-width: 1024px) {
  #app {
    padding: 0 0.5rem;
  }
}
